
@font-face {
    font-family: 'pfDinDisplay';
    src: url('../fonts/pfdindisplaypro-black.eot');
    src: url('../fonts/pfdindisplaypro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdindisplaypro-black.woff') format('woff'),
         url('../fonts/pfdindisplaypro-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* Global styles
================================================== */
html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    border: 0;
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 14px;
    background: #fff;
    min-width: 320px;
}
a:link,
a:visited { text-decoration: none }
a:hover {
    text-decoration: none;
    color: #00AEFF;
    cursor: pointer;
}
section { position: relative }
.no-padding { padding: 0 }
.gap-80 {
    clear: both;
    height: 80px;
}
.gap-40 {
    clear: both;
    height: 40px;
}
.gap-30 {
    clear: both;
    height: 30px;
}
.gap-20 {
    clear: both;
    height: 20px;
}
a:focus { outline: 0 }
a { color: #444 }
a.read-more:hover { color: #00AEFF }
ul { list-style-type: none }
img { width: 100% }
/* Typography
================================================== */
body,
p {
    font-family: 'Raleway', sans-serif;
    /*font-weight: 500; */
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
}
p { font-family: 'Roboto Condensed' }
h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Open Sans', sans-serif }
h1 {
    font-size: 56px !important;
    line-height: 1.1 !important;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 24px;
}

h1 span {
  color: #00AEFF;
}
/*.slider-title {
  margin-top: 10px !important;
}*/
.form-heading {
  font-size: 1.6em !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
  display: block;
}

.form-subheading {
  text-transform: none;
  font-size: 1.2em;
  line-height: 1;
  display: block;
  margin-top: 10px;
}

.heading-inner {
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
}
.sec-title {
    padding: 8px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}
.sec-title span { color: #00AEFF }
.heading-inner p { margin-top: 20px }
.heading-inner:after {
    position: absolute;
    content: "";
    border-top: 1px dotted#ddd;
    border-bottom: 1px dotted#ddd;
    width: 20%;
    left: 0px;
    top: 25px;
    padding: 5px 10px;
    overflow: hidden;
    max-width: 280px;
}
.heading-inner:before {
    position: absolute;
    content: "";
    border-top: 1px dotted#ddd;
    border-bottom: 1px dotted#ddd;
    width: 20%;
    right: 0px;
    top: 25px;
    padding: 5px 10px;
    overflow: hidden;
    max-width: 280px;
}
/*BUTTON styles
=========================================*/
#feature,
#work-steps,
#overview,
#feedback,
#footer,
#reviews,
#profit {
    padding: 80px 0px;
    background: #fff;
}
#work-steps {
    /*background-image: url("../images/bg/slider-bg.jpg");*/
    background-color: #E5E4E4;
    padding-top: 40px;
    padding-bottom: 80px;
}
#work-steps h2 {
    font-size: 30px;
    text-align: center;
}
#work-steps p {
    font-size: 18px;
    text-align: center;
}
#work-steps .header-p {
    color: #000000;
    margin-bottom: 40px;
}
#work-steps a { text-decoration: underline }
/*

=====================
NAVBAR
=====================

*/
.navbar { border: none }
.navbar ul.nav li > a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: bold;
    border-top: solid 3px transparent;
}
.navbar ul.nav li > .navig-button:hover { border-top: solid 3px #79AAD3 }
@media (max-width: 767px) {
    .navbar ul.nav li > .navig-button:hover { border-top: solid 3px transparent }
}
.navbar ul.nav li.active > .navig-button,
.navbar ul.nav li.open > .navig-button {
    text-decoration: none !important;
    border-top: solid 3px #223867;
    background-color: #EEEEEE;
    color: black;
}
@media (max-width: 767px) {
    .navbar ul.nav li.active > a,
    .navbar ul.nav li.open > a { border-top: solid 3px transparent }
}
.navbar .white { color: white !important }
.navbar #phone-text {
    margin-left: 10px;
    color: #084C1D;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Arial';
    margin-bottom: 0;
}
.navbar  ul.navbar-right .row {
    padding: 0;
    margin: 0;
}
.navbar  .navbar-right #phone-text {
    font-size: 15px;
    text-align: center;
}
.navbar .navig-button { text-align: center }
.navbar .navbar-right .green-btn-container { text-align: center }
.navbar  .navbar-right .green-button {
    text-align: center;
    background-color: #0B9D0B;
    border-bottom: 3px solid #037C29;
    margin-right: -15px;
    font-size: 14px;
    font-family: 'Roboto Condensed','PT sans';
    font-size: 11px;
    width: 100%;
    display: block;
    min-width: 150px;
}
.navbar .active .green-button {
    background-color: #1799BE !important;
    border-bottom: 3px solid #277197;
}
.navbar .navbar-right  .green-button:hover {
    background-color: #1799BE !important;
    color: white !important;
    border-bottom: 3px solid #277197;
    /*transition: 0.4s;*/
}
.phone-container { padding-right: 0 }
.phone-box {
    text-align: center!important;
    width: 150px;
    float: right;
    text-align: right;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}
.navbar-fixed-top { padding: 10px }
.top-nav-collapse { padding: 0 }
.top-nav-collapse .phone-box { display: none }
.navbar-brand { padding-top: 0!important }
.navbar-fixed-top .logo {
    background-image: url("../images/logo/logo.gif");
    background-repeat: no-repeat;
    background-size: 125px 50px;
    width: 150px;
    height: 50px;
}
.top-nav-collapse .navbar-brand {
    padding: 0;
    padding-left: 30px;
    padding-top: 5px!important;
}
.top-nav-collapse .navbar-brand .logo {
    background-image: none;
    background-image: url("../images/logo/logo-after.gif");
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    margin-right: 40px;
}
/* FORM
=======================================*/
.wrapper {
  padding: 50px 25px 0 30px;
}
.order_form {
    display: inline-block;
    background-color: #00AEFF;
    background-size: 355px 350px;
    width: 357px;
    height: auto;
    color: #fff;
    font-family: 'pfDinDisplay';
    border-radius: 5px;
}
.order_form .wraper{
    padding: 25px!important;
}
.order_form input:focus{
    border:1px solid white!important;
    box-shadow: 0px 0px 2px #FFFFFF!important;
}
.order_form span{
    font-weight: normal;
    font-size: 16px;
    font-family: 'PT Sans', Arial;
}
.order_form .wrapper {
    padding: 25px 37px;
    padding-bottom: 20px;
}
.order_form .title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}
.order_form .title * { color: #fff }
.order_form .title h3 {
    font: 22px 'pfDinDisplay'; margin: 0 0 0 0; text-transform: uppercase;
    line-height: 24px;
   }
.order_form .field {
    height: 44px;
    margin-bottom: 8px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
.order_form .field input[type="text"] {
    width: 100%;
    height: 42px;
    padding: 0;
    border: none;
    color: #000;
    font: 15px 'PT Sans';
    font-family: 'PT Sans', Arial;
}
.order_form .field .left-cont {
    font-size: 18px;
    color:silver;
    float: left;
    padding-top: 12px;
    text-align: center;
    width: 35px;
    height: 42px;
}
.order_form .field{
    width: 282px;
    font-size: 10px;
    color:silver;
    float: left;
}
.order_form .field .right-cont input{
    width: 230px;
    background-color: white;
    outline: none;
}
.order_form .field .right-cont{
    float: right;
}
.order_form .field{
    font-size: 10px;
    color:silver;
    float: left;
}
.order_form .send_btn {
    display: inline-block;
    width: 283px;
    height: 59px;
    background: url(../images/form/send_btn.png) 0 0 no-repeat;
    border: 0px;
}
.order_form .send_btn:hover {
    background-position: bottom;
    border: 0px;
}
.order_form .protect {
    width: auto;
    padding-right: 0;
    text-align: center;
    margin-top: 5px;
}
.order_form .protect span {
    font-family: 'PT Sans', Arial;
    display: inline-block;
    font-size: 11px;
    padding-left: 1px;
    display: inline-block;
    vertical-align: middle;
}
.order_form .field.new-select {
    overflow: hidden;
    height: 42px;
    width: 238px;
}
.order_form .field.new-select select {
    border-radius: 0;
    background: transparent;
    height: 42px;
    border: 0;
    font: 15px 'PT Sans';
    line-height: 1;
    -webkit-appearance: none;
    width: 238px;
}

/*SLIDER HEADER
============================================================*/
#slider {
    background: url("../images/header-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 110px;
}
.slider-wrap { padding: 20px 0px }
.slider-img { }
.slider-img img {
    width: 300px;
    height: 700px;
}
#slider p { padding-left: -50px }
#slider .container {
    text-align: center;
    height: 100%;
}
.slider-content {
  margin-top: 0;
}
.slider-content p {
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.slider-content h2 {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  margin: 50px 0 30px;
  text-transform: none;
}
#slider h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #fff;
    line-height: 30px;
    font-weight: 10;
}
#slider p {
    margin-bottom: 25px;
    color: #fff;
    max-width: 600px;
}
#slider .form-phone { margin-top: 150px }

/*About section
===========================*/
.feature-inner {
    padding: 30px 10px;
}
.icon-box {
  font-size: 50px;
  color: #00AEFF;
}

.feature-content h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-transform: uppercase;
    margin: 10px 0px;
    position: relative;
    padding-bottom: 10px;
}

.feature-content h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: #444;
  bottom: 0px;
  left: 40%;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*Wherefore section
===========================*/
#wherefore {
    padding: 70px 0px;
    padding-bottom: 100px;
}
#wherefore h2{
}
#wherefore h4.basic{
    font-size: 15px;
    color:silver;
    padding-bottom: 80px;
}
.about-content h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    margin-top: 0;
    line-height: 50px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.silver-line{
    width: auto;
    border-bottom: 1px solid#ddd;
    margin-bottom: 5px;
}
.about-inner {
    margin-bottom: 50px;
    padding: 0px 20px;
}
.about-inner i {
    font-size: 50px;
    color: #00AEFF;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    margin: 0px auto;
}
 .feature-content p {
    font-size: 17px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
}
 .feature-content h2 {
    font-size: 16px;
    font-weight: 600;
    /*text-transform: capitalize;*/
    text-transform: uppercase;
    margin: 10px 0px;
    position: relative;
    padding-bottom: 10px;
}

/*Counter area
======================================================================*/
#counter-area {
    background: #00AEFF;
    padding: 25px 0px 40px 0px;
}
#counter-area h1 {
    padding-bottom: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: 0;
}
.line {
    width: 50px;
    background: #fff;
    height: 2px;
    margin: 0 auto;
}
.columns { position: relative }
.columns:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    border-right: 1px solid #ddd;
    top: 13px;
    right: 0px;
    -webkit-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
    -o-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
.facts-wrap i {
    font-size: 45px;
    line-height: 60px;
    color: #fff;
}
.facts-wrap i.fa {
    color: white;
    margin-bottom: 0;
    font-weight: 100;
}
.fact-content h6 {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 20px 0px 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.facts-wrap-num {
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    padding-top: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.columns:last-child:after { border: 0px }
/*TESTIMONIAL section
===============================================================*/
#feedback { padding: 80px 0px }
#feedback .download-inner h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#feedback h4 {
    text-align: center;
    margin-bottom: 30px;
}
#feedback p {
    font-size: 18px;
    text-align: center;
}
#feedback .contact-container {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
#feedback .contact-container .icon { text-align: center }
#feedback .contact-container:last-child { margin-bottom: 50px }
#feedback .contact-container p,
i { margin: 0 }
.contact-container p { }
.contact-container i {
    float: left;
    font-size: 25px;
    color: #00AEFF;
}
#feedback .sec-heading { margin-bottom: 40px }
#feedback .sec-heading,
#feedback .sec-sub-title {
    color: #333;
    font-weight: 600;
}
#feedback h1 {
    font-size: 20px;
    line-height: 20px;
}
#testimonial-carousel p {
    font-size: 14px;
    line-height: 24px;
    color: #888;
    padding: 0px 40px;
    margin-top: -35px;
    margin-left: 15px;
}
.test-desc i {
    font-size: 30px;
    line-height: 40px;
    color: #00AEFF;
}
#testimonial-carousel .item {
    border-bottom: 1px solid#ccc;
    padding: 10px 0px;
}
.test-desc { margin-left: 20px }
#testimonial-carousel.owl-carousel { text-align: left }
.client-desc {
    float: right;
    border-left: 1px solid#ddd;
    padding-left: 30px;
}
.client-desc h3 {
    color: #00AEFF;
    text-transform: uppercase;
}
.client-desc h4 {
    color: #888;
    font-size: 14px;
    font-weight: 300;
}
.owl-pagination {
    position: relative;
    left: 45%;
}
.owl-page.active { background: #00AEFF }
.owl-page {
    width: 35px;
    height: 10px;
    margin-right: 10px;
    border: 2px solid#00AEFF;
    float: left;
    margin-top: 50px;
}
/*Overlay
============================================*/
.bg-overlay-light {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    /*background: url("../images/pattern.png") repeat scroll 0% 0% rgba(0, 0, 0, 0.5);*/
}
.bg-overlay-medium {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
}
/*FOOOTER
=============================================*/

#footer, .footer-container{
    background-color: rgb(0, 174, 255);
    padding-top: 0;
    padding-bottom: 8px;
}
.footer .map{
    height: 400px;
}
.footer-container{
    color:white;
    text-align: center;
    font-size: 13px;
}