/* Global styles
================================================== */
html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 14px;
    background: #fff;
    min-width: 320px;
}

a:link,
a:visited { text-decoration: none }
a:hover {
    text-decoration: none;
    color: #00AEFF;
    cursor: pointer;
}

section { position: relative }
.no-padding { padding: 0 }
.gap-80 {
    clear: both;
    height: 80px;
}

.gap-40 {
    clear: both;
    height: 40px;
}

.gap-30 {
    clear: both;
    height: 30px;
}

.gap-20 {
    clear: both;
    height: 20px;
}

a:focus { outline: 0 }
a { color: #444 }
a.read-more:hover { color: #00AEFF }
ul { list-style-type: none }
img { width: 100% }
/* Typography
================================================== */
body,
p {
    font-size: 14px;
    line-height: 1.1;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
p {

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
h1 {
    font-size: 56px !important;
    line-height: 1.1 !important;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 24px;
}

h1 span {
  color: #00AEFF;
}

.h3,
.h4 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center !important;
  line-height: 1.1;
}

span.h3 {
  font-size: 36px ;
  font-weight: 700;
}

span.h4 {
  font-size: 18px ;
  font-weight: 800;
}
/*.slider-title {
  margin-top: 10px !important;
}*/
.form-heading {
  font-size: 1.6em !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
  display: block;
}

.form-subheading {
  text-transform: none;
  font-size: 1.2em;
  line-height: 1;
  display: block;
  margin-top: 10px;
}

.heading-inner {
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
}
.sec-title {
    padding: 8px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}
.sec-title span { color: #00AEFF }
.heading-inner p { margin-top: 20px }
.heading-inner:after {
    position: absolute;
    content: "";
    border-top: 1px dotted#ddd;
    border-bottom: 1px dotted#ddd;
    width: 20%;
    left: 0px;
    top: 25px;
    padding: 5px 10px;
    overflow: hidden;
    max-width: 280px;
}
.heading-inner:before {
    position: absolute;
    content: "";
    border-top: 1px dotted#ddd;
    border-bottom: 1px dotted#ddd;
    width: 20%;
    right: 0px;
    top: 25px;
    padding: 5px 10px;
    overflow: hidden;
    max-width: 280px;
}
/*BUTTON styles
=========================================*/
#feature,
#work-steps,
#overview,
#feedback,
#footer,
#reviews,
#profit {
    padding: 80px 0px;
    background: #fff;
}
#work-steps {
    /*background-image: url("../images/bg/slider-bg.jpg");*/
    background-color: #E5E4E4;
    padding-top: 40px;
    padding-bottom: 80px;
}
#work-steps h2 {
    font-size: 30px;
    text-align: center;
}
#work-steps p {
    font-size: 18px;
    text-align: center;
}
#work-steps .header-p {
    color: #000000;
    margin-bottom: 40px;
}
#work-steps a { text-decoration: underline }
/*

=====================
NAVBAR
=====================

*/
.navbar {
  border: none;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.navbar #main-menu {
  float: right
}

.navbar ul.nav li > a {
  text-transform: uppercase;
  font-size: 17.2px;
  font-weight: 400;
  color: #222;
  border-top: solid 3px transparent;
}

.navbar .top-contacts {
  float: right;
  margin: 18px 0 0 30px;
}

.navbar .top-contacts .tel {
  font-weight: 800;
  color: #0394D8;
  font-size: 17px;
}

.navbar ul.nav li a .fa-chevron-down {
  font-size: 12px;
  line-height: 1.4;
  vertical-align: top;
}

.top-menu ul.nav li ul li a {
  color: #555;
  font-size: 100%;
  padding: 8px 15px 8px 10px;
}

.navbar ul.nav li > .navig-button:hover {
  border-top: solid 3px #79AAD3
}

@media (max-width: 767px) {
  .navbar ul.nav li > .navig-button:hover { border-top: solid 3px transparent }
}

.navbar ul.nav li.active > .navig-button,
.navbar ul.nav li.open > .navig-button {
    text-decoration: none !important;
    /*border-top: solid 3px #223867;*/
    border-top: 0 none;
    background-color: #EEEEEE;
    color: black;
}

.nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
  border: 0 none;
  color: #dd1f26;
}

.navbar .white { color: white !important }
.navbar #phone-text {
    margin-left: 10px;
    color: #084C1D;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}

.navbar .navbar-header {
  /*max-width: 80%;*/
}

.navbar ul.navbar-right .row {
    padding: 0;
    margin: 0;
}

.navbar .navbar-right #phone-text {
    font-size: 15px;
    text-align: center;
}

.navbar .navig-button { text-align: center }
.navbar .navbar-right .green-btn-container { text-align: center }
.navbar .navbar-right .green-button {
    text-align: center;
    background-color: #0B9D0B;
    border-bottom: 3px solid #037C29;
    margin-right: -15px;
    font-size: 14px;
    font-size: 11px;
    width: 100%;
    display: block;
    min-width: 150px;
}

.navbar .active .green-button {
    background-color: #1799BE !important;
    border-bottom: 3px solid #277197;
}

.navbar .navbar-right  .green-button:hover {
    background-color: #1799BE !important;
    color: white !important;
    border-bottom: 3px solid #277197;
    /*transition: 0.4s;*/
}

.phone-container {
  padding-right: 0
}

.phone-box {
    text-align: center!important;
    width: 150px;
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}

.navbar-brand {
  margin-top: 0!important;
  padding-top: 0!important;
  margin-bottom: 0;
}

.navbar-fixed-top {
  padding: 5px 10px;
}

.navbar-fixed-top .logo {
    background-image: url("../images/logo/logo.gif");
    background-repeat: no-repeat;
    background-size: 125px 50px;
    width: 150px;
    height: 50px;
}

.top-menu .tagline {
    margin: 10px 0 5px 5px;
    color: #777;
    float: left;
    line-height: 16px;
    width: 110px;
    text-transform: none;
}

.top-nav-collapse {
  padding: 0
}

.top-nav-collapse .phone-box {
  display: none
}

.top-nav-collapse .navbar-brand {
    padding: 0;
    padding-left: 30px;
    padding-top: 5px!important;
}

.top-nav-collapse .tagline {
  margin-top: 7px;
}

.navbar .navbar-brand img {
  height: 50px;
}

.navbar.top-nav-collapse .navbar-brand img {
  height: 37px;
  padding-right: 15px;
}

/* FORM
=======================================*/
.wrapper {
  padding: 50px 25px 0 30px;
}

.form-container {
  text-align: center;
}

.order_form {
    display: inline-block;
    background-color: #00AEFF;
    /*background: #1e5799; /* Old browsers */
    background: url(../images/form/order_form_bg.png) 0 0 no-repeat;
    background-size: 355px 350px;
    width: 357px;
    height: auto;
    color: #fff;
    border-radius: 5px;
}
.order_form .wraper{
    padding: 25px!important;
}
.order_form input:focus{
    border:1px solid white!important;
    box-shadow: 0px 0px 2px #FFFFFF!important;
}
.order_form span{
    font-weight: normal;
    font-size: 16px;
    font-family: 'PT Sans', Arial;
}
.order_form .wrapper {
    padding: 25px 37px;
    padding-bottom: 20px;
}
.order_form .title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}
.order_form .title * { color: #fff }
.order_form .title h3 {
  margin: 0 0 0 0;
  text-transform: uppercase;
  line-height: 24px;
 }
.order_form .field {
    height: 44px;
    margin-bottom: 8px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
.order_form .field input[type="text"] {
    width: 100%;
    height: 42px;
    padding: 0;
    border: none;
    color: #000;
    font: 15px 'PT Sans';
    font-family: 'PT Sans', Arial;
}
.order_form .field .left-cont {
    font-size: 18px;
    color:silver;
    float: left;
    padding-top: 12px;
    text-align: center;
    width: 35px;
    height: 42px;
}
.order_form .field{
    width: 282px;
    font-size: 10px;
    color:silver;
    float: left;
}
.order_form .field .right-cont input{
    width: 230px;
    background-color: white;
    outline: none;
}
.order_form .field .right-cont{
    float: right;
}
.order_form .field{
    font-size: 10px;
    color:silver;
    float: left;
}
.order_form .send_btn {
    display: inline-block;
    width: 283px;
    height: 59px;
    background: url(../images/form/send_btn.png) 0 0 no-repeat;
    border: 0px;
}
.order_form .send_btn:hover {
    background-position: bottom;
    border: 0px;
}
.order_form .protect {
    width: auto;
    padding-right: 0;
    text-align: center;
    margin-top: 5px;
}
.order_form .protect span {
    font-family: 'PT Sans', Arial;
    display: inline-block;
    font-size: 11px;
    padding-left: 1px;
    display: inline-block;
    vertical-align: middle;
}
.order_form .field.new-select {
    overflow: hidden;
    height: 42px;
    width: 238px;
}
.order_form .field.new-select select {
    border-radius: 0;
    background: transparent;
    height: 42px;
    border: 0;
    font: 15px 'PT Sans';
    line-height: 1;
    -webkit-appearance: none;
    width: 238px;
}

/*SLIDER HEADER
============================================================*/
#slider {
    background: url("../images/header-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 110px;
}
.slider-wrap { padding: 20px 0px }
.slider-img { }
.slider-img img {
    width: 300px;
    height: 700px;
}
#slider p {
  padding-left: -50px;
}
#slider .container {
    text-align: center;
    height: 100%;
}
.slider-content {
  margin-top: 0;
}

#slider .container .col-md-8{
    padding: 0;
}
.slider-content p {
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.slider-content h2 {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  margin: 50px 0 30px;
  text-transform: none;
}
#slider h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #fff;
    line-height: 30px;
    font-weight: 10;
}
#slider p {
    margin-bottom: 25px;
    color: #fff;
    max-width: 600px;
}
#slider .form-phone { margin-top: 150px }

/*About section
===========================*/
#about {
  margin-bottom: 30px;
}

.feature-inner {
    padding: 30px 10px;
    height: 220px;
}

.icon-box {
  font-size: 50px;
  color: #00AEFF;
}

.icon-box .icon-compass,
.icon-box .icon-clock,
.icon-box .icon-strategy {
  font-size: 60px;
}

.feature-content h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-transform: uppercase;
    margin: 10px 0px;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
}

.feature-content .feature-line {
    width: 55px;
    height: 2px;
    background-color: #444;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;

}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*Wherefore section
===========================*/
#wherefore {
    padding: 70px 0px;
    padding-bottom: 100px;
}
#wherefore h2{
}
#wherefore h4.basic{
    font-size: 15px;
    color:silver;
    padding-bottom: 80px;
}
.about-content h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    margin-top: 0;
    line-height: 50px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.silver-line{
    width: auto;
    border-bottom: 1px solid#ddd;
    margin-bottom: 5px;
}
.about-inner {
    margin-bottom: 50px;
    padding: 0px 20px;
}
.about-inner i {
    font-size: 50px;
    color: #00AEFF;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    margin: 0px auto;
}
 .feature-content p {
    font-size: 17px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
}
 .feature-content h2 {
    font-size: 16px;
    font-weight: 600;
    /*text-transform: capitalize;*/
    text-transform: uppercase;
    margin: 10px 0px;
    position: relative;
    padding-bottom: 10px;
}

/*Counter area
======================================================================*/
#counter-area {
    background: #00AEFF;
    padding: 25px 0px 40px 0px;
}
#counter-area h1 {
    padding-bottom: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: 0;
}
.line {
    width: 50px;
    background: #fff;
    height: 2px;
    margin: 0 auto;
}
.columns { position: relative }
.columns:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    border-right: 1px solid #ddd;
    top: 13px;
    right: 0px;
    -webkit-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
    -o-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
.facts-wrap i {
    font-size: 45px;
    line-height: 60px;
    color: #fff;
}
.facts-wrap i.fa {
    color: white;
    margin-bottom: 0;
    font-weight: 100;
}
.fact-content h6 {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 20px 0px 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.facts-wrap-num {
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    padding-top: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.columns:last-child:after {
  border: 0px;
}
/*TESTIMONIAL section
===============================================================*/
#feedback {
  padding: 80px 0px;
}

#feedback .download-inner .h3 {
  margin-top: 0;
}

#feedback .h4 {
    text-align: center;
    margin-bottom: 30px;
}

#feedback p {
    font-size: 18px;
    text-align: center;
}

#feedback .contact-container {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#feedback .contact-container .icon {
  text-align: center ;
}

#feedback .contact-container .email,
#feedback .contact-container .tel {
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
}

#feedback .contact-container i {
  line-height: 0.8;
}

#feedback .contact-container .fa-envelope {
  font-size: 22px;
}

#feedback .contact-container:last-child {
 margin-bottom: 50px ;
}

#feedback .contact-container p,
i {
  margin: 0 ;
}
.contact-container p { }
.contact-container i {
    float: left;
    font-size: 25px;
    color: #00AEFF;
}
#feedback .sec-heading { margin-bottom: 40px }
#feedback .sec-heading,
#feedback .sec-sub-title {
    color: #333;
    font-weight: 600;
}

#testimonial-carousel p {
    font-size: 14px;
    line-height: 24px;
    color: #888;
    padding: 0px 40px;
    margin-top: -35px;
    margin-left: 15px;
}

.test-desc i {
    font-size: 30px;
    line-height: 40px;
    color: #00AEFF;
}
#testimonial-carousel .item {
    border-bottom: 1px solid#ccc;
    padding: 10px 0px;
}
.test-desc { margin-left: 20px }
#testimonial-carousel.owl-carousel { text-align: left }
.client-desc {
    float: right;
    border-left: 1px solid#ddd;
    padding-left: 30px;
}
.client-desc h3 {
    color: #00AEFF;
    text-transform: uppercase;
}
.client-desc h4 {
    color: #888;
    font-size: 14px;
    font-weight: 300;
}
.owl-pagination {
    position: relative;
    left: 45%;
}
.owl-page.active { background: #00AEFF }
.owl-page {
    width: 35px;
    height: 10px;
    margin-right: 10px;
    border: 2px solid#00AEFF;
    float: left;
    margin-top: 50px;
}
/*Overlay
============================================*/
.bg-overlay-light {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    /*background: url("../images/pattern.png") repeat scroll 0% 0% rgba(0, 0, 0, 0.5);*/
}
.bg-overlay-medium {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
}
/*FOOOTER
=============================================*/

#footer, .footer-container{
    background-color: rgb(0, 174, 255);
    padding-top: 0;
    padding-bottom: 8px;
}
.footer .map{
    height: 400px;
}
.footer-container{
    color:white;
    text-align: center;
    font-size: 13px;
}

/* Responsive */
/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
    /*.dropdown i{
        display: none;
    }*/
    .navbar-left{
        margin-left: 220px;
    }
  .top-nav-collapse .navbar-left{
        margin-left: 285px;
    }
}
/* Fix form clipping */
@media (max-width: 1100px) and (min-width: 991px){
    #slider .container{
    margin-left: 0;
    margin-right: 0;
    }
    #slider .container .col-md-4{
        margin-left: -50px;
    }
}
/* hide arrow when block become xs */
@media(max-width: 991px){
     .contact-container .tel{
        padding-left: 30px!important;
    }
}
/* Medium Devices, Desktops */
@media (max-width : 768px) {
    #feature{
    }

    #feature .about-content{
        margin-top: 30px;
    }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
     
    .heading-inner::before,.heading-inner::after{
        display: none;
    }
    /* NAVABAR */

    .slider {
    background: url("../images/showcase-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 800px;
  }
    .slider-content {
        padding-top: 0px;
    }
    /*form-phone*/
    .form-phone-interaction{
        padding-top: 50px !important;
    }
    .navbar-brand {
        height: 15px;
        padding: 10px 7px;
    }
    .nav > li > a {
        padding: 15px 5px;
        font-size: 12px;
    }
    .columns {
        margin-bottom: 35px;
    }
    .columns:after{
        border: none;
    }
    .pricing-wrapper {
        margin-bottom: 20px;
    }
    .flaoting-img{
        margin: 30px 0px;
    }

    .top-link li{
        margin-bottom: 38px;
    }
    .navbar-fixed-top{
        padding: 10px;
        padding-right: 30px;
    }
    .top-nav-collapse{
        padding: 0;
        padding-left: 10px;
        padding-right: 30px;
    }
    .navbar .green-button{
    margin-right: -100px!important;
    }
}


/* Custom, iPhone Retina */
@media (min-width: 320px) and (max-width: 767px)  {
    
    .heading-inner {
        width: 90%;
    }
    .navbar-brand .logo{
    }
    .top-link li{
        margin-bottom: 38px;
    }
    .slider-content {
        padding-top: 0px;
    }
    .heading-inner::before,.heading-inner::after{
        display: none;
    }

    .slider-content .btn-container .btn-deafult{
        margin-bottom: 20px;
    }

    .process-content {
        padding: 30px 40px;
        margin-bottom: 10px;
}
    #process-carousel.carousel-indicators{
        bottom: 0px;
    }

    .subscription input {
        width: 100%;
    }
    .subscription .btn-default {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        left: 0px;
    }
    .columns {
        margin-bottom: 35px;
    }
    .columns:after{
        border: none;
    }

    .pricing-wrapper {
        margin-bottom: 40px;
    }
    .btn-container a {
        margin-right: -1px;
    }
    .flaoting-img{
        margin: 20px 0px;
    }

}

/* Custom, iPhone Retina */
@media (max-width: 767px)  {
  .navbar #main-menu {
    float: left
  }
  .navbar ul.nav li.active > a,
  .navbar ul.nav li.open > a {
    /*border-top: solid 3px transparent;*/
  }
}

/* Scroling nav */
/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}