
@font-face {
    font-family: 'pfDinDisplay';
    src: url('pfdindisplaypro-black.eot');
    src: url('pfdindisplaypro-black.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-black.woff') format('woff'),
         url('pfdindisplaypro-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}